.app-footer-container{
  justify-content: flex-end;
  position: absolute;
  bottom: 0px;
  background-color: white;
  height: 40px;
  flex-grow: 0;
}

.app-footer-container span {
  font-size: 12px;
  font-weight: bold;
}
