<div>
  <mat-card class="mat-card">
    <mat-card-header style="display: flex; justify-content: center; margin-bottom: 10px;">
      <mat-card-title style="color: white;font-size: 30px; text-align: center;">
        About
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-content-txt">
      This web app was developed with the purpose of fulfilling the AWS Challenge requirements for the selective internship process of the Eldorado Research Institute. It is a simple device manager, using Angular technologies in the frontend, NodeJS in the backend and MySQL in the database.
    </mat-card-content>
  </mat-card>
</div>
