/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-30p{
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F51B5;
}

.w-100{
  width: 100% !important;
}

.ml-15{
  margin-left: 15px;
}

.m-40{
  margin: 20px;
  width: 400px !important;
  background-color: #3F51B5;
}

.flx-cnter-row{
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.flx-evly{
  justify-content: space-evenly;
}
