
<div class="main-container box">
  <app-header [sidenav]="sidenav" class="header"></app-header>

 <mat-sidenav-container class="content">
    <mat-sidenav #sidenav class="w-30p">

      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon class="icon-color">home</mat-icon>
          <span class="ml-15">
            <a [routerLink]="['/']" class="menu-text-color">Home</a>
          </span>

        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon class="icon-color">devices</mat-icon>
          <span class="ml-15" >
            <a [routerLink]="['/device']" class="menu-text-color">Manage Devices</a>
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon class="icon-color">category</mat-icon>
          <span class="ml-15">
            <a [routerLink]="['/category']" class="menu-text-color">Manage Categories</a>
          </span>

        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon class="icon-color">info</mat-icon>
          <span class="ml-15">
            <a [routerLink]="['/about']" class="menu-text-color">About</a>
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="intern-container">
     <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>


</div>



