<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <p>{{dialogMsg}}</p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="createCategoryForm" #categoryFormDirective="ngForm" action="">
        <div class="column-lign">
          <mat-form-field class="w-300">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Name">
          </mat-form-field>
        </div>


      </form>
    </mat-card-content>

    <mat-card-actions class="flx-cnter-row flx-evly">
      <button mat-raised-button color="warn" (click)="clickLeftButton()">{{leftButtonLabel}}</button>
      <button mat-raised-button color="primary" (click)="clickRightButton()">{{rightButtonLabel}}</button>
    </mat-card-actions>
  </mat-card>
</div>


